<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "board_list">
        <h1>board</h1>
        <table>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>제목</th>
            </tr>
            <% data.forEach((list, index)=> { %>
                <tr class="text-center">
                   
                    <td>
                        <%= list.num%>
                    </td>
                    <td>
                        <%= list.id%>
                    </td>
                    <td>
                        <a href = "boardinfo/<%=list.num%>"><%= list.title%></a>
                    </td>
                </tr>
                <% }) %>
        </table>

        <a href = "write">글쓰기</a>
    </div>
</body>
</html>