<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입력폼</title>
</head>
<body>
    <h1>입력 폼 </h1>
    <!-- 보통 insert 는 store 라고 지으면되 -->
    <form action = "/store" method = "POST">
        id :<input type = "text" name = "id"><br>
        password :<input type = "password" name = "password"><br>
        email :<input type = "text" name = "email"><br>
        nickname :<input type = "text" name = "nickname"><br>
        <button type = "submit">확인</button>
    </form> 
</body>
</html>