<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <style>
        td,th{width:100px;}
        td{text-align: center;}
    </style>

    
</head>
<body>
    <h1>Express를 이용한 회원가입</h1>
    <form action = "/login" method = "POST">
        아이디:<input type = "text" name = "id" id = "id"><br>
        비밀번호:<input type = "password" name = "pw" id = "pw">
        <br>
        <input type = "submit" value = "로그인">
        <input type = "button" value="회원가입" onClick="location.href='createform'">

    </form>

    
    <!-- form 테그로 post보내기 -->

   
    
    
</body>
</html>